html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(src/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
}

@-webkit-keyframes success {
  0% {
    background-image: radial-gradient(#236423, #144614, #003200);
  }
  50% {
    background-image: radial-gradient(#323232, #141414, black);
  }
  100% {
    background-image: radial-gradient(#236423, #144614, #003200);
  }
}

@keyframes success {
  0% {
    background-image: radial-gradient(#236423, #144614, #003200);
  }
  50% {
    background-image: radial-gradient(#323232, #141414, black);
  }
  100% {
    background-image: radial-gradient(#236423, #144614, #003200);
  }
}

.success {
  background-image: none;
  -webkit-animation: success 0.3s linear forwards;
          animation: success 0.3s linear forwards;
}

.container {
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .question {
  border: solid black 2px;
  width: 70%;
  margin-bottom: 2em;
  margin-top: 2em;
  background-image: radial-gradient(#323232, #141414, black);
  display: none;
  border: solid #ececec 3px;
  border-radius: 2em;
}

.container .question p {
  text-align: center;
  margin: 2em;
  font-size: 1.5em;
  color: white;
}

.container .question .rip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  margin-bottom: 2em;
}

.container .answers {
  width: 70%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .answers p {
  text-align: center;
  margin: 1em;
  font-size: 1.2em;
  color: white;
}

.container .answers div {
  width: 40%;
  margin: 1em;
  background-image: radial-gradient(#323232, #141414, black);
  border: solid #ececec 3px;
  border-radius: 2em;
}

.container .answers div:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px 5px #ececec;
          box-shadow: 0 0 10px 5px #ececec;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: solid #d47f10 3px;
  border-radius: 50%;
  margin: 2em 0 5em 0;
  width: 100%;
  display: none;
}

.bar .prog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
}

.bar .prog span {
  border: solid #d47f10 2px;
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  text-align: center;
  line-height: 3em;
  margin: 0 1em 0 1em;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons .begin, .buttons .reset {
  padding: 1em 2em 1em 2em;
  background-color: black;
  color: white;
  border: solid #d47f10 3px;
  border-radius: 1em;
  width: 20em;
}

.buttons .fifty {
  padding: 1em 2em 1em 2em;
  background-color: black;
  color: white;
  border: solid #d47f10 3px;
  border-radius: 50%;
  display: none;
  margin-left: 4em;
}

.buttons .reset {
  display: none;
}

.buttons .fifty:hover {
  cursor: pointer;
  background-image: radial-gradient(#dda153, #d47f10);
}

.buttons .begin:hover, .buttons .reset:hover {
  cursor: pointer;
  background-image: radial-gradient(#dda153, #d47f10);
}

input {
  outline: none;
}
/*# sourceMappingURL=style.css.map */